/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, #1e3a8a, #4a81db, #96c5ff)!important ;
  /*background: url("course.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;*/

}

body .container {
  margin-top: 150px;
  max-width: 1100px;
}

#filter-buttons button {
  border-radius: 3px;
  background: #fff;
  border-color: transparent;
}

#see{
  background: linear-gradient(to right, #4b4b4b, #7d7d7d);
  /*background:#4b4b4b;*/
  border: none;
  border-radius: 10px;
  color: #ffffff;
  margin-left: 45px;
  margin-bottom:auto ;
}

#see:hover{
  background: linear-gradient(to right, #ed8d8d, #fee4e4);
  color: #000;
  
}
#filter-buttons button:hover {
  background: #ddd;
}

#filter-buttons button.active {
  color: #fff;
  background: #56380ba7;
}

#filterable-cards .card {
  width: 15rem;
  border: 2px solid transparent;
}

#filterable-cards .card.hide {
  display: none;
}

@media (max-width: 600px) {
  #filterable-cards {
    justify-content: center;
  }

  #filterable-cards .card {
    width: calc(100% / 2 - 10px);
  }
}

.link{
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  padding-bottom: 15px;
  margin: 0 25px;
  list-style-type: none;
}

.nav{
  position:fixed;
  top: 0;
  display:flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
 
  z-index: 100;
  max-width: 900px;
}
.nav-logo p{
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.nav-menu ul{
  display: flex;
}
.nav-menu ul li{
  list-style-type: none;

}
.nav-menu ul li .link{
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 15px;
  padding-top: 20px;
  margin: 0 35px;
  text-transform: uppercase;
}
.link:hover, .active{
  border-bottom: 2px solid #fff;
}

footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin: auto;
  
}

#foot{
  margin-bottom: 0px;
}

#back{
  width: 50px;
  height: 50px;
  margin-top: -100px;
  margin-left: 1200px;
 border-style: none;
 border-radius: 10px;

}