*{
    box-sizing: border-box;
    font-family:'Times New Roman', sans-serif;
}

body{
    text-align: center;
    display: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}



.form{
    width: 500px;
    background-color:#dafcffc1;
    padding: 0 30px;
    display: grid;
    gap:20px;
    padding-bottom: 30px;
    border-radius: 10px;
    border:1px solid black;
    margin-left: 600px;
}
input{
    width:100%;
    padding: 10px;
}

.otpverify{
    width: 100%;
    display: flex;
    gap:20px
}

.form .btn{
    padding: 10px;
    background-color: #009cabc1;
    color: white;
    outline:none;
    border:none;
    cursor:pointer;
    border-radius: 5px;
    width: 150px;

}

.otpverify{
    display: none;
}